*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{ 
    display: flex;
    justify-content: space-between;
    padding: 0 100px 0 100px;
    background-color: black;
    color: white; /* xq cambia el color del logotipo acá y no en header .logo? */
}

header .logo{
    display: flex;
    align-items: center;
}

header .nav{
    display: flex;
    align-items: flex-end;
    }

header .link{ 
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
}

header .button{
    display: flex;
    align-items: center;
}

a{
    color: rgb(220, 231, 235);
}

section { 
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: gray;
    height: 600px;
    align-items: center;
    justify-content: center; 
    gap: 20px; 
    padding: 0 60px;
}

section .caja { 
    width: 200px;
    height: 300px;
    border-radius: 15px;
    background-color: beige;
    border: 1px solid black;
    padding: 5px;
}

.number {
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}